$color-header: rgb(162, 185, 79);

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


@mixin rounded-border($radius) {
    border-radius: $radius;
}

@mixin toolbar() {

    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    align-items: center;
    
}

@mixin title(){
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 30px;
    color: white; 
}