@use "base" as b;

/*Header*/
header {
  background: b.$color-header;

  .toolbar{
      @include b.toolbar();
  }

  .page-title{
      @include b.title();
  }
}

/*Nav*/

.page-container {
    display: flex;
    flex:1;
    height: 100%;
    width: 100%;

    nav{

      position: relative;
      background-color: rgb(9, 130, 90);
      width: 15%;
     
      .menu-title{
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 8px;  
      }

      .item-menu{
        background-color: rgb(37, 230, 166);
        padding-left: 3%;
      }
    }    
 
}

/*main*/

main{
  flex:1;
  display: flex;
  flex-direction: row;

  .list{
    background-color: rgb(180, 239, 212);
    flex: 1;
    display: flex;
    align-items: center;
    align-content: flex-start;
    //overflow: auto;
    flex-wrap: wrap; /*salto de linea*/
    justify-content:space-around;
    gap: 20px;
    padding-top: 5%;

      .card{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        height: 25%;
        width: 20%;
        gap: 5%;
        background-color: white;
        @include b.rounded-border(0.5rem);
      

        img{
            @include b.rounded-border(2rem);
            width: 100px;
            height: 100px;
        }

      }

  }
}

/*footer*/
  footer {
    display: flex;
    background: rgb(55, 213, 102);
    height: 50px;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-left: 1%;
  }

 

  @media screen and (max-width: 768px){

    main{
      .list{
        .card{
          height: 25%;
          width: 40%;
          gap: 3%;
        }
      }
    }
  }
   
      

  @media screen and (max-width: 540px){

    header{
      .toolbar{
        display: none;
      }
    }
   
  
    .page-container {
      display: flex;
      flex-direction: column;
    }    
    
    nav{
      width: 100% !important;
    }
    
    .menu-title{
      //desaparecer
      display: none;
    }
    .item-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-around;

    }
    

    main{

      height: 100vh !important;

      .list{
        gap: 5px;
        padding-top: 5px;
        .card{
          height: 15%;
          width: 95%;
         
        }
    }
    }
      }