$grid-item-base-color-1: #D52500;
$grid-item-base-color-2: #DA3614;
$grid-item-base-color-3: #D8492B;
$grid-item-base-color-4: #D85A40;
$grid-item-base-color-5: #D56A54;
$grid-item-base-color-6: #DC8572;
$grid-item-base-color-7: #E1998A;
$grid-item-base-color-8: #EEB4A8;
$grid-item-base-color-9: #FAD4CC;
$text-color: skyblue;
$color-white:white;

@mixin rounded-corners-all($radius: 0.5rem) {
    border-radius: $radius;
}