@import "base-1";

body{
    margin:40px;
    padding: 0px;

}

.container{
    display: grid;
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: repeat(3, 80px)repeat(2, 40px)repeat(1, 80px);
  
    .box{
        @include rounded-corners-all($radius);
        display: flex;
        border: 1px solid black;
       

        .text{
            font-family: $text-1;
            padding-left: 10%;
            padding-top: 15%;    
        }

        .text-2{
            font-family: $text-2;
            padding-top: 12%;
            font-size: $size-font; 
        }
    }


    
      .box:nth-child(1) {
        background-color: $color-box-1;
        
      }
    
      .box:nth-child(2) {
        background-color: $color-box-2;
      }
    
      .box:nth-child(3) {
        background-color: $color-box-3;
      }
    
      .box:nth-child(4) {
        border: none;

      }
    
      .box:nth-child(5) {
        border: none;
        white-space: nowrap;
      }
    
      .box:nth-child(6) {
        box-shadow: $box-shadow;  

      }
    
 
    
}

