@use 'variables' as v;

.container{
    display: flex;
    flex-direction: column;
}

.container-menu{  
    display: flex;
    flex-direction: row;
    background-color: v.$container-color;
    justify-content: space-between;  
}

.menu{
    height: 20px;
    padding: 3px;
    color: v.$color-menu;
    text-align: center;
}

.menu:hover {

    background-color:v.$color-hover;
}


@media screen and (max-width: 650px) {

    body{
        border: 5px solid black;
        height: 300px;
    }

    h1{
        font-size: 30px;
    }
   
    .container-menu{     
        display: flex;
        flex-direction: column;   
        align-items: center;  
    }   

}